@media screen and (max-width:1000px) {
    .details {
        display: flex;           
        flex-wrap: wrap;         
        margin-left: 2%;
    } 
    input,select{
        width: 100%;
    }
    button{
        width: 25%;
        }  
}
