@media screen and (max-width:1000px) {
    .details {
        flex-wrap: wrap;         
    } 
    .details div{
        margin-left:10px;
        margin-right: 10px;
    }
    input,select{
        width: 100%;
    }
    button{
        width: 25%;
        }  
}
