* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: white
}

.flex {
    display: flex;
}

h2 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #dfe6e9;
    padding-left: 10px;
}

.personal-Details {
    border: 1px solid #b2bec3;
    margin-top: 5px;
    margin-inline: 15px;
    border-radius: 6px;
    padding-bottom: 20px;
}

h3 {
    background-color: #ecf0f1;
    height: 6vh;
    padding: 6px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.details div {
  margin-top: 20px;
  margin-right: 2%;
  margin-left: 20px;
  width: 90%;
    
}

p {
   
    padding-top: 20px;
    font-size: large;
}

input,select {
    width: 70%;
    padding: 10px;
    border-radius: 4px;
    outline: none;
    border: none;
    margin-top: 8px;
    cursor: pointer;
    border: 1px solid #b2bec3;
}

input:focus,select:focus {
    background-color: #ecf0f1;
    border: 1px solid #636e72;
}
button{
    width: 10%;
    padding: 8px 8px;
    font-size: large;
    font-weight: bold;
    color: white;
    background-color: #636e72;
    margin-left:20px ;
    margin-block: 10px;
    border-radius: 6px;
    cursor: pointer;
}
